<div class= "new-msg-form">
	{{input type="text" placeholder="To" value=to class="to-input"}}
	{{input type="text" placeholder="Text" value=text class="text-input"}}
	<button {{action 'addChat'}}class="submit" >Send Messages</button>
</div>